<h1>Welcome to the Nested Forms Lab!  let's navigate to the '/new'</h1>


<ul>
<% @pirates.each do |pirate| %>
  <li><em>Name: <%= pirate.name %></li>
  <li>Weight: <%= pirate.weight %></li>
  <li>Height: <%= pirate.height %></li>
<% end %>
</ul>
